.shop {
   padding: 2rem 0;
   margin: 0 auto;
   position: relative;
   z-index: 0;
}

.shop-ul {
   display: grid;
   grid-template-columns: repeat(5, 250px);
   grid-gap: 1.5rem;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
   position: relative;
   z-index: 1;
}

@media screen and (max-width:1300px) {
   .shop-ul {
      grid-template-columns: repeat(4, 250px);
      grid-gap: 1rem;
   }
}

@media screen and (max-width:1050px) {
   .shop-ul {
      padding: 0 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 1rem;
   }
}

@media screen and (max-width:950px) {
   .shop-ul {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 1rem;
   }
}

@media screen and (max-width:750px) {
   .shop-ul {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 1rem;
   }

}

@media screen and (max-width:550px) {
   .shop-ul {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
      padding: 0 1rem;
   }

}