.ShopCartItem {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 1rem;
   border-bottom: 1px solid var(--primary-accent);
   margin: 0.8rem 0;
}

.items-details {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
}

.shopCart_item span {
   font-size: 17px;
}

.ShopCartItem_img {
   width: 150px;
   height: 150px;
}

.ShopCartItem_img img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.ShopCartItem_details {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
   height: 180px;
}

.ShopCartItem_details>span {
   font-size: 1.2rem;
   line-height: 1.5;
   color: var(--third-accent);
   font-family: var(--p-font);
}

.ShopCartItem_details .p1 {
   font-size: .85rem;
   line-height: 1.2;
   color: var(--third-text);
}

.ShopCartItem_details .p2 {
   font-size: .85rem;
   line-height: 1.2;
   color: var(--secondry-accent);
}

.ShopCartItem_price {
   display: flex;
   flex-direction: row-reverse;
}

.ShopCartItem_price span {
   font-family: var(--p-font);
   font-size: 1rem;
   line-height: 1.2;
   color: var(--third-accent);
}

.gift {
   display: flex;
   gap: 0.5rem;
   padding: 0.3rem 0;
}

.gift input[type="checkbox"] {
   accent-color: var(--secondry-accent);
}

.gift p {
   font-size: 13px;
   line-height: 1;
   color: var(--third-accent);
}

.ShopCartItem_feature {
   display: flex;
   gap: 0.5rem;
   align-items: center;
   justify-content: start;
}

.ShopCartItem_feature label {
   color: var(--third-accent);
   font-family: var(--p-font);
   font-size: .9rem;
}

.ShopCartItem_feature span {
   color: var(--third-accent);
   font-family: var(--p-font);
   font-size: .9rem;
}

.ShopCartItem_feature button[type='button'] {
   color: var(--third-text);
   background: none;
   padding: 0;
   width: 15px;
   height: 15px;
}

.ShopCartItem_feature button[type='button']:hover {
   color: var(--third-accent);
   background: none;
}

.ShopCartItem_feature button[type='delete'] {
   font-family: var(--p-font);
   font-size: .9rem;
   border-radius: 2px;
   background: var(--gray-100);
   color: var(--third-accent);
}

.ShopCartItem_feature button[type='delete']:hover {
   color: var(--gray-100);
   background: var(--secondry-accent);
}

@media screen and (max-width:500px) {
   .items-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   .ShopCartItem_details {
      height: auto;
   }

   .ShopCartItem {
      padding-bottom: 1rem;
   }

   .ShopCartItem_details>span {
      font-size: 1rem;
      line-height: 1.5;
   }

   .ShopCartItem_details .p1,
   .ShopCartItem_details .p2 {
      font-size: .75rem;
      line-height: 1.2;
   }

   .ShopCartItem_feature label {
      font-size: .75rem;
   }

   .ShopCartItem_feature button[type='button'] svg {
      font-size: .85rem;
   }

   .ShopCartItem_feature button[type='delete'] {
      font-size: .65rem;
   }

   .ShopCartItem_feature span {
      font-size: .75rem;
   }

   .ShopCartItem_price span {
      font-size: .89rem;
   }
}

@media screen and (max-width:380px) {
   .ShopCartItem {
      grid-template-columns: 1fr;
      gap: 1rem;
   }

   .ShopCartItem_img {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      height: 100%;
   }

   .ShopCartItem_img img {
      width: 200px;
      height: 100%;
   }

   .items-details {
      flex-direction: row;
   }
}