.shopItem {
      display: inline-block;
}

.shopItem_det {
      width: 250px;
      height: min-content;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: var(--item-bg);
      align-items: center;
      border-radius: 5px;
}

.item_img {
      width: 240px;
      height: 315px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0.5rem;
}

.item_img .img {
      width: 98%;
      height: 98%;
      object-fit: scale-down;
      object-position: center;
}

.item_detail {
      width: 240px;
      height: 150px;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: end;
}

.price {
      color: rgb(198, 111, 111);
      font-size: 20px;
}

.item_detail h1 {
      font-size: 20px;
      line-height: 20px;
      color: var(--bg-color-2);
}

.det_btn {
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
}


button {
      padding: 0.3rem 0.5rem;
      background-color: cadetblue;
      color: white;
      border-radius: 5px;
      border: none;
}

button:focus,
button:hover {
      outline-offset: 5px;
      background-color: #fff;
      color: cadetblue;
}

@media screen and (max-width:1400px) {
      .shopItem_det {
            width: 240px;
      }

      .item_img {
            width: 230px;
      }

      .item_detail {
            width: 230px;
      }
}

@media screen and (max-width:1300px) {
      .shopItem_det {
            width: 230px;
      }

      .item_img {
            width: 225px;
      }

      .item_detail {
            width: 225px;
      }
}


@media screen and (max-width:1150px) {
      .shopItem_det {
            width: 210px;
      }

      .item_img {
            width: 200px;
      }

      .item_detail {
            width: 200px;
      }
}

@media screen and (max-width:1050px) {
      .shopItem_det {
            width: 200px;
      }

      .item_img {
            width: 190px;
      }

      .item_detail {
            width: 190px;
      }

      .price {
            font-size: 15px;
      }

      .item_detail h1 {
            font-size: 16px;
            line-height: 16px;
      }

      .det_btn {
            padding: 0 1rem;
      }
}