/* -----------------------------IMG SLIDER SECTION-------------------------------------  */

.home_img-slider {
      display: grid;
      grid-template-columns: auto;
      background: #d9d9d9;
      padding: 1rem 4rem;
      align-items: center;
      justify-content: center;
      height: 90vh;
      text-align: center;
}

.home_slider-content {
      position: absolute;
      left: 12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.5rem;
      align-items: center;
      height: 630px;
      width: 500px;
}

.home_slider-content h1 {
      font-size: 52px;
      line-height: 52px;
      color: darkslategray;
}

.home_slider-content p {
      font-size: 27px;
      line-height: 30px;
      color: var(--bg-color-2);
}

.home_slider-content a {
      background: var(--bg-color);
      color: var(--white-color);
      padding: 1rem;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 800;
}

.img_slide-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

}

.img_slide-button button {
      background: white;
      padding: 1rem;
      border-radius: 0;
}

.home_slider-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: 85vh;
      object-fit: contain;
}

.home_slider-img img {
      width: 100%;
      height: 100%;
}

@media screen and (max-width:520px) {
      .home_img-slider {
            display: none;
      }
}

/* -----------------------------Offer SECTION-------------------------------------  */
.home_offer {
      display: grid;
      grid-template-areas:
            "det it1 it2"
            "det it3 it4";
      gap: 1rem;
      margin: 1.5rem;
      justify-content: center;
}

.details {
      grid-area: det;
}

.item-1 {
      grid-area: it1;
}

.item-2 {
      grid-area: it2;
}

.item-3 {
      grid-area: it3;
}

.item-4 {
      grid-area: it4;
}

.offer_datails {
      background: url(../../Data/Images/offerImg.jpg);
      width: 450px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid;
      justify-content: center;
}

.offer_text {
      border: 12px solid var(--white-color);
      padding: 3rem;
      font-size: 30px;
      text-align: center;
      background: var(--opac-bg);
      font-weight: 800;
}

.offer_text p {
      color: var(--white-color);
}

.home_offer-items {
      background: var(--bg-color);
      width: 450px;
      height: 312px;
      aspect-ratio: 16/12;
}

.home_offer-items img {
      object-fit: contain;
      width: 100%;
      height: 90%;
}

.home_offer-items p {
      position: relative;
      top: -7px;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      color: var(--white-color);
}

@media screen and (max-width:1250px) {
      .home_offer {
            grid-template-areas:
                  "det it1"
                  "det it3"
                  "it2 it4";
            gap: 1rem;
            margin: 1.5rem;
            justify-content: center;
      }
}

@media screen and (max-width:1020px) {
      .details {
            height: 600px;
      }

      .offer_datails {
            width: 400px;
            height: 100%;
            background-position: right;
      }

      .home_offer-items {
            width: 400px;
            height: 292px;
            aspect-ratio: 16/12;
      }

      .offer_text {
            border: 8px solid var(--white-color);
            padding: 2rem;
            font-size: 22px;
      }
}

@media screen and (max-width:820px) {
      .details {
            height: 516px;
      }

      .offer_datails {
            width: 300px;
            height: 100%;
            background-position: right;
      }

      .home_offer-items {
            width: 300px;
            height: 252px;
            aspect-ratio: 16/12;
      }
}

@media screen and (max-width:550px) {
      .home_offer {
            grid-template-areas:
                  "det"
                  "it1"
                  "it3"
                  "it2"
                  "it4";
            gap: 1rem;
            justify-content: center;
            width: 90vw;
      }

      .offer_datails {
            width: 90%;
            height: 100%;
            background-position: center;
            margin: auto;
      }

      .home_offer-items {
            width: 90%;
            height: 250px;
            aspect-ratio: 16/12;
            margin: auto;
      }

      .item-2,
      .item-4 {
            display: none;
      }
}

@media screen and (max-width:350px) {
      .details {
            height: 300px;
      }

      .offer_datails {
            width: 90%;
            height: 100%;
            background-position: center;
      }

      .home_offer-items {
            width: 90%;
            height: 252px;
            aspect-ratio: 16/12;
      }

      .item-2,
      .item-4 {
            display: none;
      }
}

/* -----------------------------vedio SECTION-------------------------------------  */

.home_vedio {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1.5rem;
      margin: 1.5rem;
      justify-content: center;
      align-items: center;
}

.vedio_left {
      width: 380px;
      height: 550px;
}

.vedio_left_bg {
      background: url(../../Data/Images/h9_vedio2.jpg);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.vedio_left_text {
      text-align: center;
      background: var(--opac-bg);
      width: 70%;
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 5px solid var(--item-bg);
}

.vedio_left_text p {
      font-size: 24px;
      font-weight: 700;
      padding: 0.5rem 0;
      color: var(--white-color);
}

.vedio_right {
      width: fit-content;
      height: 550px;
}

.vedio_right .vedio {
      width: 100%;
      height: 100%;
}

.home__video-overlay {
      position: relative;
      top: -55%;
      left: 50%;
      width: fit-content;
      transform: translate(-50%, -50%);
}

.home__video-overlay_circle {
      border: 2px solid rgb(0, 0, 0);
      width: fit-content;
      border-radius: 50%;
      padding: 0.5rem;
}

@media screen and (max-width:1050px) {
      .vedio_left {
            width: 350px;
            height: 400px;
      }

      .vedio_right {
            height: 400px;
      }

      .vedio_left_bg {
            background-position: center;
      }
}

@media screen and (max-width:800px) {
      .vedio_left {
            display: none;
      }

      .vedio_right {
            height: 100%;
      }

      .home_vedio {
            gap: 0;
            margin: auto;
      }
}


/* -----------------------------Special Item SECTION-------------------------------------   */

.home_special-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: var(--item-bg);
      margin: 1.5rem 0;
      padding: 2rem;
}

.special_item_detail {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}

.special_item_img {
      display: flex;
      justify-content: center;
      align-items: center;
}

.special_item_detail h1 {
      color: cadetblue;
      font-size: 55px;
}

.special_item_detail span {
      background: var(--white-color);
      text-transform: uppercase;
      padding: 0.5rem;
      font-weight: 700;
      margin: 1rem 0;
}

.special_item_detail p {
      font-size: 40px;
      font-weight: bolder;
      padding: 1rem 0.2rem;
}

.special_item_detail a {
      background: var(--opac-bg);
      padding: 1rem 3rem;
      border-radius: 5px;
      font-size: 26px;
}

@media screen and (max-width:1150px) {
      .special_item_detail h1 {
            font-size: 45px;
      }

      .special_item_detail p {
            font-size: 35px;
      }

      .special_item_detail a {
            font-size: 25px;
            padding: 1rem 2rem;
      }
}

@media screen and (max-width:1050px) {
      .special_item_detail h1 {
            font-size: 40px;
      }

      .special_item_detail p {
            font-size: 30px;
      }

      .special_item_detail a {
            font-size: 30px;
            padding: 0.5rem 1rem;
      }
}

@media screen and (max-width:800px) {
      .special_item_detail h1 {
            font-size: 35px;
      }

      .special_item_detail p {
            font-size: 25px;
      }

      .special_item_detail a {
            font-size: 25px;
            padding: 0.5rem 1rem;
      }

      .special_item_detail span {
            padding: 0.2rem;
            font-size: 20px;
            margin: 1rem 0;
      }

      .special_item_img {
            width: 50%;
      }
}

@media screen and (max-width:550px) {
      .special_item_detail h1 {
            font-size: 30px;
      }

      .special_item_detail p {
            font-size: 20px;
      }

      .special_item_detail a {
            font-size: 20px;
            padding: 0.5rem 1rem;
      }

      .special_item_detail span {
            padding: 0.2rem;
            font-size: 15px;
            margin: 1rem 0;
      }

      .special_item_img {
            width: 90%;
            height: 80%;
      }

      .home_special-item {
            flex-direction: column;
      }
}

/*  -----------------------------RecommendationSECTION-------------------------------------   */
.home_recommendation {
      width: 100%;
      padding: 0.3rem;
      height: 600px;
}



/*  -----------------------------Social SECTION-------------------------------------   */
.home_social {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: max-content;
      margin: auto;
      margin-bottom: 1rem;
}

.social_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
}

.social_link {
      background: var(--white-color);
      padding: 1rem 2rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 23px;
      top: 273px;
}

.social_overlay_link {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
}

.social_img_container {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 0.5rem;
      width: 98vw;
}

.social_img_container .img {
      width: 100%;
      height: 100%;
}



@media screen and (max-width:1250px) {
      .social_img_container {
            grid-template-columns: repeat(4, auto);
      }

      .social_link {
            top: 480px;
            padding: 0.5rem 1rem;
      }
}

@media screen and (max-width:1050px) {
      .social_img_container {
            grid-template-columns: repeat(3, auto);
      }

      .social_img_container .img:nth-child(4n+0) {
            display: none;
      }

      .social_link {
            top: 480px;
            padding: 0.5rem 1rem;
      }
}

@media screen and (max-width:800px) {
      .social_img_container {
            grid-template-columns: repeat(2, auto);
      }

      .social_img_container .img:nth-child(2n+0) {
            display: none;
      }

      .social_link {
            top: 460px;
            padding: 0.5rem 1rem;
      }
}

@media screen and (max-width:450px) {
      .social_link {
            top: 320px;
            padding: 0.5rem 1rem;
            font-size: 15px;
      }
}