.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2.5rem 0rem 3rem 0rem;
  margin: auto;
  width: 70%;
}

.contact_heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

.contact_heading h2 {
  font-size: 1.7em;
  font-weight: 500;
  color: var(--secondry-accent);
}

.contact__content p {
  font-size: 1em;
  line-height: 1.2;
  color: var(--gray-400);
}

.contact_navigation {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-family: var(--p-font);
  color: var(--primary-accent);
  cursor: pointer;
  width: fit-content;
  border-bottom: 2px solid var(--primary-accent);
  border-radius: 2px;
}

.contact_navigation:hover {
  color: var(--secondry-accent);
  background-color: var(--gray-50);
}

.contact_bottom {
  display: grid;
  gap: 1rem;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: flex-start;
}

.contact_bottom_left {
  display: flex;
  flex-direction: column;
  max-height: 560px;
  overflow-y: scroll;
  min-width: 20%;
}

.contact_left-sidebar_top {
  border-bottom: 2px solid var(--secondry-accent);
}

.contact_left-sidebar_top,
.contact_left-sidebar_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0 0;
  font-size: 15px;
}

.contact_left-sidebar_top span,
.contact_left-sidebar_bottom span {
  letter-spacing: normal;
  color: var(--secondry-accent);
  font-family: var(--p-font);
  font-size: .91rem;
}

.contact_left-sidebar_top ul,
.contact_left-sidebar_bottom ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact_left-sidebar_top ul li,
.contact_left-sidebar_bottom ul li {
  padding: 13px 20px 6.5px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--p-font);
  color: var(--primary-accent);
}

.contact_left-sidebar_top ul:hover>li:not(:hover),
.contact_left-sidebar_bottom ul:hover>li:not(:hover) {
  opacity: 0.4;
}

.contact_left-sidebar_top ul li:hover,
.contact_left-sidebar_bottom ul li:hover {
  background: var(--white-col);
  color: var(--secondry-accent);
}

.contact_right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 80%;
}

.contact_right-bottom {
  padding-left: 1.18rem;
  padding-right: 1.18rem;
  margin-bottom: 0.5rem;
}

.Rbottom_heading {
  color: var(--secondry-accent);
  font-size: 18px;
  margin: 4px 0;
  padding: 1rem 0 0.5rem 0;
  font-family: var(--p-font);
}

.Rbottom_section {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  border-bottom: 2px solid var(--primary-col);
  cursor: pointer;
  background: transparent;
}

.Rbottom_section:hover {
  background: var(--fade-col);
}

.section_text {
  display: flex;
  flex-direction: column;
}


.section_text_primary {
  color: var(--CTA);
  font-size: 14px;
  font-family: var(--p-font);
}

.section_text_secondary {
  color: var(--primary-accent);
  font-size: 15px;
  margin-top: 4px;
  font-family: var(--main-font);
}


.contact_right-bottom button {
  cursor: pointer;
  background: transparent;
  width: -moz-fit-content;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.contact_right-bottom button:hover svg {
  color: var(--CTA);
}

.contact_right-bottom button svg {
  width: 30px;
  height: 30px;
  color: var(--secondry-accent);
}

.Rbottom_section:last-child,
.Bottom_section:last-child>.section {
  border: none;
}

@media screen and (max-width:950px) {

  .contact_left-sidebar_top ul li,
  .contact_left-sidebar_bottom ul li {
    padding: 13px 13px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width:850px) {

  .contact_left-sidebar_top ul li,
  .contact_left-sidebar_bottom ul li {
    padding: 13px 13px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
  }

  .contact_bottom {
    grid-template-columns: 35% 65%;
  }
}

@media screen and (max-width:650px) {

  .contact_left-sidebar_top ul li,
  .contact_left-sidebar_bottom ul li {
    padding: 13px px 15px 13px 8px;
    font-size: 15px;
  }

  .Rbottom_section {
    width: 100%;
    grid-template-columns: auto auto;
    padding: 16px 9px;
  }

  .contact {
    padding: 6rem 3rem 1rem 3rem;
  }
}

@media screen and (max-width:500px) {

  .contact_left-sidebar_top ul li,
  .contact_left-sidebar_bottom ul li {
    padding: 13px px 15px 13px 8px;
    font-size: 15px;
  }

  .Rbottom_section {
    width: 100%;
    grid-template-columns: auto auto;
    padding: 16px 9px;
  }

  .contact {
    padding: 6rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width:380px) {

  .contact_bottom {
    grid-template-columns: 90%;
  }

  .Rbottom_section {
    width: 100%;
    grid-template-columns: auto auto;
    padding: 16px 12px;
  }

  .contact {
    padding: 6rem 1rem 1rem 1rem;
  }
}