.product {
      position: relative;
      overflow: hidden;
      padding: 16px 0;
}

.product-container {
      padding: 0 0.7rem;
      display: flex;
      overflow-x: auto;
      align-items: center;
      scroll-behavior: smooth;
      height: 550px;
      gap: 1rem;
      margin: 0 auto;
      width: 90%;
}

.product-container::-webkit-scrollbar {
      display: none;
}

.pre-btn,
.nxt-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      top: 45%;
      z-index: 1;
      border: 2px solid var(--primary-col);
      font-size: 40px;
      margin: 0 .5rem;
      border-radius: 10px;
}

.pre-btn {
      left: -7px;
}

.nxt-btn {
      right: -7px;
}

.pre-btn,
.nxt-btn {
      opacity: 0.3;
}

.pre-btn:hover,
.nxt-btn:hover {
      opacity: 1;
      background: none;
}