.footer {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
      padding: 2rem 1.5rem;
      background-color: var(--gray-50);
      justify-content: center;
}

.heading {
      padding: 1.5rem 0;
      color: var(--secondry-accent);
}

.footer_social-links {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
}

.footer_social-links a {
      border: 2px solid var(--gray-100);
      border-radius: 50%;
      padding: 1rem;
      box-shadow: 0px 0px 4px var(--primary-text);
      width: 70px;
      position: relative;
      z-index: 1;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.footer_social-links a::after {
      content: "";
      position: absolute;
      border: 2px solid var(--gray-100);
      border-radius: 50%;
      padding: 1.5rem;
      box-shadow: 0px 0px 4px var(--black);
      z-index: 2;
}

.footer_social-links svg {
      margin: auto;
      color: var(--secondry-accent);
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
}

.footer_social-links svg:hover {
      color: var(--secondry-accent);
}

.footer_social-links a:hover::after {
      background-color: var(--primary-text);
      animation: rotate-diagonal-1 0.5s linear both;
}


.footer_social-links:hover a:not(:hover) {
      opacity: 0.5;
}

.footer_links {
      display: flex;
      flex-direction: column;
}

.footer_links:hover .footer_text:not(:hover) {
      opacity: 0.5;
}

.footer_text {
      font-family: var(--p-font);
      color: var(--third-accent);
      font-size: 1.2rem;
      line-height: 1.3;
      font-weight: 600;
      cursor: pointer;
}

.footer_text:hover {
      scale: 1.05;
}

@media screen and (max-width:850px) {
      .footer {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
      }

      .footer_social-links {
            flex-wrap: wrap;
      }

      .heading {
            font-size: 1.4rem;
      }

      .footer_text {
            font-size: 1rem;
      }
}

@media screen and (max-width:350px) {
      .footer {
            grid-template-columns: 1fr;
            gap: 2rem;
            align-items: center;
      }

      .heading {
            font-size: 1.2rem;
      }

      .footer_text {
            font-size: 0.80rem;
      }
}

@keyframes rotate-diagonal-1 {
      0% {
            -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
      }

      50% {
            -webkit-transform: rotate3d(1, 1, 0, -180deg);
            transform: rotate3d(1, 1, 0, -180deg);
      }

      100% {
            -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
      }
}