.search {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   padding: 2.5rem 0.5rem;
   margin: auto;
   width: 100%;
}

.search_box form {
   display: flex;
   gap: 0.5rem;
}

.search_box form input {
   width: 90%;
   font-size: 1rem;
   padding: 0.4rem .4rem 0 .4rem;
   border: none;
   border-bottom: 2px solid var(--third-accent);
}

.search_box form button {
   background-color: var(--gray-100);
   color: var(--third-accent);
   font-size: 18px;
   box-shadow: 2px 2px 2px 0.5px var(--secondry-accent);
   border-radius: 10px;
}

.search_box {
   width: 600px;
   margin: auto;
}

.search_results {
   padding: 1rem;
}

.result_container {
   width: 100%;
   justify-content: flex-start;
   margin: auto;
}

.result_container h2 {
   padding: 0 0 0 1rem;
   font-size: 23px;
   color: var(--secondry-accent);
}

.result_ul {
   display: grid;
   grid-template-columns: repeat(5, 250px);
   grid-gap: 1.5rem;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.search_btn {
   background-color: var(--item-bg);
   color: var(--dark-blue);
   font-size: 18px;
   border-bottom: 2px solid;
   border-radius: 10px;
}

.search_btn:hover {
   color: var(--dark-blue);
}

@media screen and (max-width:1300px) {
   .result_ul {
      grid-template-columns: repeat(4, 250px);
      grid-gap: 1rem;
   }
}

@media screen and (max-width:1050px) {
   .result_ul {
      padding: 0 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
   }

}

@media screen and (max-width:950px) {
   .result_ul {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
   }
}

@media screen and (max-width:750px) {
   .result_ul {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
   }

   .search_box {
      width: max-content;
      margin: auto;
   }
}

@media screen and (max-width:550px) {

   .search,
   .search_results {
      padding: 1rem 0;
   }

   .result_ul {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
      padding: 0 0.8rem;
   }

   .search_box form {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .search_box form input {
      width: 80vw;
   }

   .search_btn {
      width: 50vw;
   }
}