.search {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   padding: 1rem 0.5rem;
   margin: auto;
   width: fit-content;
}

.search_box form {
   display: flex;
   gap: 0.5rem;
}

.search_box {
   width: 600px;
   margin: auto;
}

.search_results {
   padding: 1rem;
}

.result_container {
   width: fit-content;
   justify-content: flex-start;
   margin: auto;
}

.search_result_item_container {
   display: grid;
   grid-template-columns: repeat(5, 250px);
   grid-gap: 1.5rem;
   justify-content: center;
   align-items: center;
}

.search_btn {
   background-color: var(--item-bg);
   color: var(--dark-blue);
   font-size: 18px;
   border-bottom: 2px solid var(--border-color);
   border-radius: 10px;
}

.search_btn:hover {
   color: var(--dark-blue);
}

.search_category {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 1rem;
   align-items: flex-start;
   justify-content: flex-start;
}


.search-text {
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   padding: 1rem;
}

.search-text li {
   border-bottom: 2px solid var(--border-color);
   padding: 0;
   margin: 0;
   border-radius: 10px;
}

.search-text-btn {
   background-color: transparent;
   color: var(--dark-blue);
   padding: 0.5rem !important;
   margin: 0 !important;
}

.search-text-btn:hover,
.search-text li:hover {
   border-color: var(--dark-blue);
   color: var(--dark-blue);
   cursor: pointer;
}

.shopItem {
   width: 100/5%;
   height: 100%;
}

@media screen and (max-width:1300px) {
   .search_result_item_container {
      grid-template-columns: repeat(4, 250px);
      grid-gap: 1rem;
   }
}

@media screen and (max-width:1050px) {
   .search_result_item_container {
      padding: 0 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
   }

}

@media screen and (max-width:950px) {
   .search_result_item_container {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
   }
}

@media screen and (max-width:750px) {
   .search_result_item_container {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
   }

   .search_box {
      width: max-content;
      margin: auto;
   }
}

@media screen and (max-width:550px) {

   .search,
   .search_results {
      padding: 1rem 0;
   }

   .search_result_item_container {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 1rem;
      padding: 0 0.5rem;
   }

   .search_box form {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .search_box form input {
      width: 80vw;
   }

   .search_btn {
      width: 50vw;
   }

   .search-text {
      width: 80vw;
      flex-wrap: wrap;
   }

}