.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.modal_det {
  width: 60%;
  max-width: 800px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.modal_img {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.modal_img .img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal_detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details_p {
  padding: 0.5rem 0;
  font-size: 18px;
}

.modal_price {
  font-size: 20px;
  padding: 0.7rem 0;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0;
}

.modal_price .discount_price {
  color: var(--primary-col);
  font-size: 20px;
  font-weight: 700;
}

.modal_price .original_price {
  font-size: 15px;
  color: var(--CTA-col);
  text-decoration: line-through;
}

.modal_detail h1 {
  font-size: 24px;
  color: var(--bg-color-2);
  margin-bottom: 1rem;
}

.modal_det_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.modal_det_btn svg {
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal_det_btn svg:hover {
  scale: 1.3;
}

.modal_det_btn button {
  padding: 0.5rem 1rem;
  color: var(--primary-col);
  background: var(--accent-col);
  cursor: pointer;
  border: 1px solid var(--accent-col);
  border-radius: 10px;
}

.modal_det_btn button:focus,
.modal_det_btn button:hover {
  outline: none;
  color: var(primary-col);
}

.close-icon {
  font-size: 24px;
  color: var(--primary-col);
  cursor: pointer;
}

.close-icon:hover {
  color: #FF0000;
  scale: 1.2;
}

.rating_star {
  width: fit-content;
  height: 25px;
  display: flex;
  gap: 0.1rem;
}

.rating_star img {
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 858px) {
  .modal_det {
    width: 90%;
  }

  .modal_img {
    max-height: 300px;
  }

  .modal_price {
    font-size: 18px;
  }

  .modal_detail h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .modal_det {
    padding: 1rem;
    flex-direction: column-reverse;
    align-items: end;
    gap: 0.5rem;
  }

  .modal_det_details {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }

  .modal_img {
    margin: auto;
  }

  .modal_img img {
    height: 250px;
  }

  .modal_price {
    font-size: 16px;
  }

  .details_p {
    padding: 0.3rem 0;
  }

  .modal_detail h1 {
    font-size: 18px;
    margin: 0.6rem 0;
  }
}