.shopCart {
      padding: 2.5rem 5rem;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 1rem;
      height: max-content;
}

.shopCart_left {
      display: flex;
      display: flex;
      flex-direction: column;
}

.shopCart_heading {
      border-bottom: 3px solid var(--third-text);
      margin-bottom: 1rem;
}

.shopCart_heading h1 {
      color: var(--third-text);
}

.shopCart_heading p {
      display: flex;
      flex-direction: row-reverse;
      color: var(--primary-accent);
}

.shopCart_heading button {
      background: transparent;
      color: var(--secondry-accent);
      cursor: pointer;
      padding: 0;
}

.shopCart_heading button:hover {
      color: var(--third-accent);
}

.shopCart_right {
      background-color: var(--item-bg);
      padding: 1rem;
      font-size: 12px;
      height: max-content;
}

.shopcart-delivery {
      display: flex;
      margin-bottom: 1rem;
      text-align: start;
      align-items: flex-start;
      gap: 0.2rem;
}

.shopcart-delivery input[type="checkbox"] {
      margin: 0.1rem 0;
      accent-color: var(--third-text);
}

.shopcart-delivery p {
      color: var(--primary-accent);
}

.total_details-reverse {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;
      align-items: center;
}

.total_details-reverse h3,
.total_details h3 {
      color: var(--secondry-accent);
      font-size: 1.2rem;
}

.total_details-reverse p,
.total_details p {
      color: var(--third-accent);
      font-size: 1rem;
}

.total_details {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-start;
      align-items: center;
}

.total_details p {
      font-size: 16px;
}

.shopCart_right .shopCRButton {
      display: flex;
      align-items: center;
      justify-content: center;
}

.shopCart_right .shopCRButton button {
      width: 100%;
      margin: 0.8rem auto;
      background: var(--secondry-accent);
      border-radius: 3px;
      border: 2px solid var(--secondry-accent);
}

.shopCart_right .shopCRButton button:hover {
      background-color: var(--white);
}

.shopCRButton button a {
      font-size: 1.1rem;
      color: var(--third-accent);
}

.shopCart_right>p:last-child {
      color: var(--third-text);
      font-size: .8rem;
}

@media screen and (max-width:1150px) {
      .shopCart {
            padding: 2rem 3rem;
      }
}

@media screen and (max-width:770px) {
      .shopCart {
            grid-template-columns: 100%;
      }

      .shopCart {
            padding: 2rem 1rem;
      }

      .total_details {
            gap: 0.1rem;
      }

      .total_details-reverse h3,
      .total_details h3 {
            font-size: 1.1rem;
      }

      .total_details-reverse p,
      .total_details p {
            font-size: .95rem;
      }
}

@media screen and (max-width:500px) {
      .shopCart_heading h1 {
            font-size: 1.5rem;
      }

      .shopCart_heading button {
            font-size: .85rem;
      }

      .total_details-reverse h3,
      .total_details h3 {
            font-size: 1rem;
      }

      .total_details-reverse p,
      .total_details p {
            font-size: .85rem;
      }

      .shopCRButton button a {
            font-size: .85rem;
      }
}